<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Payment status</title>
</head>
<body>
    <div class="container" style="padding: 2% 7%; text-align: center; font-size: 18px;">
        <h2 class="" style="color: #f44336;">Failed</h2>
        <p>Payment Failed!</p>
        <p>Please check your card info and try again.</p>
        <p><a href="<%= url %>/products">Products page</a> </p>
    </div>
</body>
</html>