<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Account Activation</title>
</head>
<body>
    <div class="container" style="padding: 2% 7%; text-align: center; font-size: 18px;">
        <h2 class="" style="color: #f44336;">Failed</h2>
        <p>Account did not activated!</p>
        <p>Reason: <%= message %></p>
        <p>Please check your email and click the link to activate your account. </p>
    </div>
</body>
</html>