<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Account Activation</title>
</head>
<body>
    <div class="container" style="padding: 2% 7%; text-align: center; font-size: 18px;">
        <h2 class="" style="color: #4caf50;">Success</h2>
        <p>Account has been activated successfully!</p>
        <p>Click <a href="<%= url %>/login">Login</a> button and start discovering. </p>
    </div>
</body>
</html>